body{
  background-color: #fdf6e3;
}

.title{
  margin: auto;
  width: 90%;
  text-align: left;
}

.name{
  font-size:750%;
  font-family: 'Dosis', cursive;
  color: #268bd2;
}

.links{
  display: flex;
  flex-direction: column;
  height: 400px;
}

.fas, .fab{
  font-size:350%;
  align-self: center;
  margin-right:25%;
  color: #cb4b16;
}
.link{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-between;

}
.linktext{
  font-size:200%;
  margin-left: 25%;
  font-family: 'Dosis';
  color: #657b83;
}
